.container {
  background: url(/public/images/speakers-bg.png);
  background-position: center;
  background-size: cover;
  padding: 50px 0;
}

@media (min-width: 1025px) {
  .grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 20px 50px;
    gap: 30px;
  }
}
@media (min-width: 510px) and (max-width: 1024px) {
  .grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 20px 30px;
    gap: 20px;
  }
}
@media (max-width: 500px) {
  .container {
    padding: 10px;
  }
  .grid {
    margin: 20px 0;
  }
}
