:root {
  --primary: #008080;
  --accent: #ffa500;
  --white: #ffffff;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: rgba(255, 255, 255, 0.839);
  -webkit-backdrop-filter: blur(3px);
  backdrop-filter: blur(3px);
  position: sticky;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 100;
}

@media (min-width: 1024px) {
  .nav {
    padding: 20px 50px;
  }

  .menuIcon {
    display: none;
  }
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  display: inline-block;
  margin-right: 10px;
  width: 50px;
}

.span:first-child {
  color: var(--primary);
}
.span:last-child {
  color: var(--accent);
}

a {
  text-decoration: none;
}

ul li {
  display: inline-block;
  padding: 10px 0;
  margin: 0 10px;
}

ul li a {
  color: #2a2a2a;
}

.active {
  position: relative;
  color: var(--accent);
}

.active::before {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 100%;
  height: 5px;
  background: var(--accent);
  border-radius: 20px;
}

@media (max-width: 900px) {
  .nav {
    padding: 20px;
  }
  .logo img {
    display: none;
  }

  .menuIcon {
    display: none;
  }
}

@media (max-width: 500px) {
  .nav {
    position: relative;
  }

  .nav ul {
    position: absolute;
    background: var(--white);
    box-shadow: 0 4px 10px rgba(49, 49, 49, 0.2);
    top: 100%;
    right: 0;
    width: 100%;
    overflow: hidden;
    height: 0;
    transition: 0.3s all;
  }

  .nav .menu {
    height: fit-content;
    transition: 0.5s all;
  }

  .nav ul li {
    display: block;
    width: 100%;
  }

  .nav .logo img {
    display: block;
    width: 30px;
  }

  .menuIcon {
    display: block;
    transition: 0.5s all;
    font-size: 30px;
    color: var(--primary);
  }
}
